/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.my-row{
    display: flex;
}

.h-small-col{
    width: calc((100% /  12) * 3);
}

.h-big-col{
    width: calc((100% /  12) * 6);
}

.m-col{
    width: calc(((100% / 12) * 4) - 20px);
}

.f-col{
    width: calc((100% / 12) * 6);
}

.discount{
    background-color: red;
    padding: 3px 5px;
    color: white;
    font-size: 0.8em;
    margin-right: 5px;
}

.susteinable{
    background-color: green;
    padding: 3px 5px;
    color: white;
    font-size: 0.8em;
}
/* 
    HEADER
*/

header{
    background-color: #FF6900;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .my-row{
    padding: 15px 0;
    align-items: center;
}

header .h-small-col{
    text-align: left;
}

header .h-small-col:nth-child(3){
    text-align: right;
}

header .h-small-col a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: small;
    margin-right: 5px;
}

header .h-big-col{
    text-align: center;
}

header .h-big-col img{
    width: 20%;
}

/* 
    MAIN
*/

.product{
    position: relative;
}

.product-labels{
    position: absolute;
    bottom: 40px;
}

.wishlist{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;    
    font-size: 1.2em;
}

main{
    margin-top: 110px;
}

main .my-row{
    margin: 0 -10px;
    flex-wrap: wrap;
}

main .m-col{
    margin: 0 10px 20px 10px;
}

main .m-col > div img{
    width: 100%;
}

main .m-col > div img:nth-of-type(2){
    display: none;
}


main .m-col h5:first-of-type{
    font-weight: 300;
}

main .m-col h5 span:first-of-type{
    color:red;
}

main .m-col h5 span:last-of-type{
    text-decoration: line-through;
}

/* 
    FOOTER
*/

footer{
    background-color: #212225;
    color: white;
}

footer .my-row{
    padding: 25px 0;
}

footer .f-col:last-of-type{
    text-align: right;
}

footer .f-col:first-of-type h4{
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer .f-col:last-of-type h4{
    font-size: 1em;
    margin-bottom: 10px;
}

footer .f-col a{
    text-decoration: none;
    color:white;
    margin-right: 5px;
    font-size: 0.8em;
}
footer .f-col:last-of-type a{
    font-size: 1.3em;
}